
/* Body Styles */
body {
    background: linear-gradient(black 12rem, coral);
}

.header {
    background: radial-gradient(coral 15%, black 40%);
}

.main-content {
    width: 100%;
}

.main-content h1 {
    text-align: center;
    color: white;
}

#scrollText h2 {
    color: white;
}

.song-container {
    margin-top: 12rem;
}

.song {
    width: 60%;
    margin: auto;
}

