
/* Base Font Size */
html {
    font-size: 18px;/* Setting the document rem size*/
}

body {
    background: linear-gradient(to bottom, #232323 24rem, #343434);
}

/* Header Styles */
.header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 21rem;
    background: linear-gradient(to bottom, #121212, #232323);/*set textured background*/
}

/*   Name Styles */
.name { 
    font-family: serif;
    font-size: 8.25rem; 
    line-height: 0.75;
    letter-spacing: 0.055rem;
    margin-top: 6rem;
}

.name a {
    color: white;
}

.navbar {
    width: 60%;
    padding: 1rem 0rem;
}
/*Navbar Styles*/
.navbar ul {
    display: flex; 
    flex-direction: row;
    justify-content: center;
    align-items: center;
    list-style-type: none;
    gap: .5rem;
}

/* Navbar Links */
.navbar li a {
    font-family: sans-serif;
    font-size: 2rem;
    font-weight: 500;
}

a {
text-decoration: none;
}

/*  Animation for Nav Links   -linkColorChange */ 
@keyframes linkColorChange {
    0%{color: var(--link-color);}
    98%{color: var(--link-color, #111);}
    100%{color: #111;}
}

.link-animation-design a {
    animation: linkColorChange 3s infinite;
    --link-color: #39f;
}

.link-animation-blog a {
    animation: linkColorChange 6s infinite;
    --link-color: #afa;
}

.link-animation-music a {
    animation: linkColorChange 5s infinite;
    --link-color: #96F; 
    border: 2px solid #96f;
}

.link-animation-contact a {
    animation: linkColorChange 8s infinite;
    --link-color: coral;
}

.link-animation-home a {
    animation: linkColorChange 7s infinite;
    --link-color: #fc0;
    
}

/*       Main Content Section     */
   
.music-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap; 
}

.singles-container {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(  powderblue 49%, #9966ffaa,  beige 51%);
    padding: 5%;
    box-shadow: 2px -2px 10px #333;
    margin-top: 9rem;
}

.singles-container .script {
    position: relative;
    bottom: 6rem;
    right: 8rem;
    font-family: "Satisfy", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 2.25rem;
  transform: rotate(-9deg);
  color: #96f;
}

.singles-container h1 {
    color: black;
    text-align: center;
    font-size: 2.5rem;
    margin-bottom: 2rem;
}

.singles-container h3 {
    color: black;
    text-align: center;
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

.singles-image-container {
    width: 32rem;
    height: 18rem;
    background-image: url(./resources/images/Sparrow-PlayingGuitar.png);
    background-size: cover;
    filter: hue-rotate(25deg) saturate(0.3);
    opacity: 1; 
    border-radius:  15%;
    margin-bottom: 6rem;
}


.song-journal-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: fit-content;
    gap: 2rem;
    width: 50%;
    margin: 12rem auto;
    text-align: center;
    box-shadow: 0px -0px 60px #333;
    background: linear-gradient(#d9dbf5, #dcdef5) ;
}

.song-journal-container h2 {
    font-size: 2rem;
    border-bottom: 2px solid black;
    padding: 1rem;
}

.song-journal-container .script {
    position: relative;
    bottom: 4.5rem;
    left: 13.5rem;
    font-family: "Satisfy", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1.65rem;
  transform: rotate(-9deg);
}

.song-post {
    border-bottom: 1px solid black;
}

.song-post p {
    width: 50%;
    margin: auto;
    padding: 2rem;
}

audio {
    width: 40%;
    height: 1.75rem;
    margin: 1rem;
}

.skyline {
    background: radial-gradient(circle at top, #96f 25%, transparent 37%)
}


footer {
    box-shadow: -30px -10px 60px #96f;
    height: 18rem;
}

 /*  --- Responsive Media Queries  ---   */
/*  Mobile styles (max-width: 600px) */
@media (max-width: 600px) {
    .header {
        height: 16rem;
    }
    .name {
        font-size: 2.5rem;
        margin-top: 3rem;
        }
    .navbar ul {
        flex-wrap: wrap;
        gap: 1.5rem;
        margin: 3rem 0rem;
    }
    /* Navbar Links */
    .navbar li a {
        font-size: 1.2rem;
    }
    
    .link-animation-music a {
        --link-color: #96f;
        margin: 0px 5rem;
    }  

    .music-container {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap; 
    }
    
    .singles-container {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        background: linear-gradient(  powderblue 49%, #9966ffaa,  beige 51%);
        padding: 5%;
        box-shadow: 2px -2px 10px #333;
        margin-top: 9rem;
    }
    
    .singles-container .script {
        position: relative;
        bottom: -16rem;
        right: -0.1rem;
        font-family: "Satisfy", serif;
      font-weight: 400;
      font-style: normal;
      font-size: 1.75rem;
      transform: rotate(-9deg);
      color: #96f;
    }
    
    .singles-container h1 {
        color: black;
        text-align: center;
        font-size: 1.75rem;
        margin-bottom: .8rem;
    }
    
    .singles-container h3 {
        color: black;
        text-align: center;
        font-size: 1.25rem;
        margin-bottom: .2rem;
    }
    
    .singles-image-container {
        width: 100%;
        height: 12rem;
        background-image: url(./resources/images/Sparrow-PlayingGuitar.png);
        background-size: cover;
        filter: hue-rotate(25deg) saturate(0.3);
        opacity: 1; 
        border-radius:  15%;
        margin-bottom: 6rem;
    }
    
    
    .song-journal-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: fit-content;
        gap: 2rem;
        width: 100%;
        margin: 12rem auto;
        text-align: center;
        box-shadow: 0px -0px 60px #333;
        background: linear-gradient(#d9dbf5, #dcdef5) ;
    }
    
    .song-journal-container h2 {
        font-size: 2rem;
        border-bottom: 2px solid black;
        padding: 1rem;
    }
    
    .song-journal-container .script {
        position: relative;
        bottom: 4.5rem;
        left: 13.5rem;
        font-family: "Satisfy", serif;
      font-weight: 400;
      font-style: normal;
      font-size: 1.65rem;
      transform: rotate(-9deg);
    }
    
    .song-post {
        border-bottom: 1px solid black;
    }
    
    .song-post p {
        width: 50%;
        margin: auto;
        padding: 2rem;
    }
    
    audio {
        width: 40%;
        height: 1.75rem;
        margin: 1rem;
    }
    
    .skyline {
        background: radial-gradient(circle at top, #96f 25%, transparent 37%)
    }
    
    
    footer {
        box-shadow: -30px -10px 60px #96f;
        height: 18rem;
    }
}

/*  Mobile styles (max-width: 1023px) */
@media (min-width: 601px) and (max-width: 1223px) {
    .header {
        height: 16rem;
    }
    .name {
        font-size: 2.5rem;
        margin-top: 3rem;
        }
    .navbar ul {
        flex-wrap: wrap;
        gap: 1.5rem;
        margin: 3rem 0rem;
    }
    /* Navbar Links */
    .navbar li a {
        font-size: 1.2rem;
    }
    
    .link-animation-music a {
        --link-color: #96f;
    }  

    .singles-image-container {
        width: 100%;
        height: 12rem;
        background-image: url(./resources/images/Sparrow-PlayingGuitar.png);
        background-size: cover;
        filter: hue-rotate(25deg) saturate(0.3);
        opacity: 1; 
        border-radius:  15%;
        margin-bottom: 6rem;
    }

    .song-journal-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: fit-content;
        gap: 2rem;
        width: 90%;
        margin: 12rem auto;
        text-align: center;
        box-shadow: 0px -0px 60px #333;
        background: linear-gradient(#d9dbf5, #dcdef5) ;
    }

    .singles-container .script {
        position: relative;
        bottom: -16rem;
        right: -0.1rem;
        font-family: "Satisfy", serif;
      font-weight: 400;
      font-style: normal;
      font-size: 1.75rem;
      transform: rotate(-9deg);
      color: #96f;
    }

}