
/* Base Font Size */
html {
    font-size: 18px;/* Setting the document rem size*/
}

body {
    background: linear-gradient(to bottom, #232323 24rem, #343434);
}

/* Header Styles */
.header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 21rem;
    background: linear-gradient(to bottom, #121212, #232323);/*set textured background*/
}

/*   Name Styles */
.name { 
    font-family: serif;
    font-size: 8.25rem; 
    line-height: 0.75;
    letter-spacing: 0.055rem;
    margin-top: 6rem;
}

.name a {
    color: white;
}

.navbar {
    width: 60%;
    padding: 1rem 0rem;
}

/*Navbar Styles*/
.navbar ul {
    display: flex; 
    flex-direction: row;
    justify-content: center;
    align-items: center;
    list-style-type: none;
    gap: 1rem;
}

/* Navbar Links */
.navbar li a {
    font-family: sans-serif;
    font-size: 2rem;
    font-weight: 500;
}

a {
text-decoration: none;
}

/*  Animation for Nav Links   -linkColorChange */ 
@keyframes linkColorChange {
    0%{color: var(--link-color);}
    98%{color: var(--link-color, #111);}
    100%{color: #111;}
}


.link-animation-blog a {
    animation: linkColorChange 6s infinite;
    --link-color: #afa;
    border-bottom: 1px solid var(--link-color);
}

.link-animation-music a {
    animation: linkColorChange 5s infinite;
    --link-color: #96F;
    border-bottom: 1px solid var(--link-color);
}

.link-animation-design a {
    animation: linkColorChange 3s infinite;
    --link-color: #39f;
    border: 2px solid #39f;
}

.link-animation-contact a {
    animation: linkColorChange 8s infinite;
    --link-color: coral;
    border-bottom: 1px solid var(--link-color);
}

.navbar .link-animation-home a {
    animation: linkColorChange 9s infinite;
    --link-color: #fc0;
    border-bottom: 1px solid var(--link-color);
}


/*       Main Content Section     */

.landing-pages-intro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 60%;
    text-align: center;
    margin: 8rem auto;
    line-height: 2rem;
    background: linear-gradient(#3399ffaa 49%, grey 49%);
    border: 1px solid white;
}


.landing-pages-intro h1 {
    font-size: 2.5rem;
    color: #eee;
    width: 70%;
    margin: 4rem auto;
    padding: 2.5rem;
    text-align: center;
    border-radius: 50%;
}

.landing-pages-intro h2 {
    font-size: 1.75rem;
    font-weight: 400;
    color: #333;
    width: 85%;
    margin: 0 auto;
    padding-bottom: 3rem;

}

/*
.main-box {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 2rem;
}

.page-link-photo {
    background-image: url(./resources/images/halloween24.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border: 3px solid black;
    width: 17rem;
    height: 20rem;
    margin-top: 1.5rem;
}

.page-link-info {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-top: 1.5rem;
}

.page-link-description {
    font-size: 1.75rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    letter-spacing: .3rem;
    line-height: 1.75rem;
    letter-spacing: .2rem;

}

.link-buttons {
    display: flex;
    justify-content: space-around;
}

button {
    font-size: 1rem;
    padding: .6rem;
    background: linear-gradient(orange, yellow);
}

button a {
    text-decoration: none;
    color: black;
}*/

.skyline {
    background: radial-gradient(circle at top, #39f 35%, transparent 37%)
}


footer {
    box-shadow: -30px -10px 60px #39f;
    height: 18rem;
}

.footer-social-links {
    display: flex;
    justify-content: center;
    gap: 1rem;
    padding-top: 3rem;
}

.footer-social-links a {
    color: #39f;
}

/*  --- Responsive Media Queries  ---   */

/*  --- Responsive Media Queries  ---   */
@media (max-width: 374px) {
    .navbar ul {
        flex-wrap: wrap;
    }
}
/*  Mobile styles (max-width: 600px) */
@media (max-width: 600px) {
    .header {
        height: 16rem;
    }

    .name {
        font-size: 2.5rem;
        margin-top: 3rem;
    }

    .navbar ul {
        column-gap: .5rem;
        margin: 3rem 0rem;
    }

    /* Navbar Links */
    .navbar li a {
        font-size: 1.2rem;
    }


        /*       Main Content Section     */

    .landing-pages-intro {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 90%;
        text-align: center;
        margin: 8rem auto;
        line-height: 2rem;
        background: linear-gradient(#3399ffaa 49%, grey 49%);
        border: 1px solid white;
    }


    .landing-pages-intro h1 {
        font-size: 2.5rem;
        color: #eee;
        width: 70%;
        margin: 4rem auto;
        padding: 2.5rem;
        text-align: center;
        border-radius: 50%;
    }

    .landing-pages-intro h2 {
        font-size: 1.75rem;
        font-weight: 400;
        color: #333;
        width: 85%;
        margin: 0 auto;
        padding-bottom: 3rem;

    }

        
    }

@media (min-width: 601px) and (max-width: 900px){

    .header {
        height: 16rem;
    }

    .name {
        font-size: 3rem;
        margin-top: 3rem;
    }

    .navbar ul {
       
        column-gap: .5rem;
        margin: 3rem 0rem;
    }

    /* Navbar Links */
    .navbar li a {
        font-size: 1.2rem;
    }

}

@media (min-width: 901px) and (max-width: 1439px){

    .header {
        height: 16rem;
    }

    .name {
        font-size: 3.5rem;
        margin-top: 3rem;
    }

    .navbar ul {
       
        column-gap: .5rem;
        margin: 3rem 0rem;
    }

    /* Navbar Links */
    .navbar li a {
        font-size: 1.5rem;
    }
}

@media (min-width: 1440px) {

    .header {
        height: 16rem;
    }

    .name {
        font-size: 5.5rem;
        margin-top: 3rem;
    }

    .navbar ul {
       
        column-gap: 1.5rem;
        margin: 3rem 0rem;
    }

    /* Navbar Links */
    .navbar li a {
        font-size: 1.75rem;
    }

    .top-contact {
        bottom: 34rem;
        left: 16rem;
    }

}
