
/* Base Font Size */
html {
    font-size: 18px;/* Setting the document rem size*/
}

body {
    background: linear-gradient(to bottom, #232323 24rem, #343434);
}

/* Header Styles */
.header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 21rem;
    background: linear-gradient(to bottom, #121212, #232323);/*set textured background*/
}

/*   Name Styles */
.name { 
    font-family: serif;
    font-size: 8.25rem; 
    line-height: 0.75;
    letter-spacing: 0.055rem;
    margin-top: 6rem;
}

.name a {
    color: white;
}

.navbar {
    width: 60%;
    padding: 1rem 0rem;
}
/*Navbar Styles*/
.navbar ul {
    display: flex; 
    flex-direction: row;
    justify-content: center;
    align-items: center;
    list-style-type: none;
    gap: 1rem;
}

/* Navbar Links */
.navbar li a {
    font-family: sans-serif;
    font-size: 2rem;
    font-weight: 500;
}

a {
text-decoration: none;
}

/*  Animation for Nav Links   -linkColorChange */ 
@keyframes linkColorChange {
    0%{color: var(--link-color);}
    98%{color: var(--link-color, #111);}
    100%{color: #111;}
}

.link-animation-design a {
    animation: linkColorChange 3s infinite;
    --link-color: #39f;
    border-bottom: 1px solid var(--link-color);
}

.link-animation-music a {
    animation: linkColorChange 5s infinite;
    --link-color: #96f;
    border-bottom: 1px solid var(--link-color);
}

.link-animation-blog a {
    color: #afa;
    border: 2px solid #afa;
}

.link-animation-contact a {
    animation: linkColorChange 6s infinite;
    --link-color: #f90;
    border-bottom: 1px solid var(--link-color);
}

.link-animation-home a {
    animation: linkColorChange 9s infinite;
    --link-color: #fc0;
    border-bottom: 1px solid var(--link-color);
}

/*       Main Content Section     */

.title {
    display: flex; 
    flex-direction: column;
    gap: 4rem;
}

.satisfy-font {
    font-family: "Satisfy", serif;
    font-weight: 400;
    font-style: normal;
    transform: rotate(-5deg);
}

.blog-container {
    max-width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 6rem;
    margin: auto;
    padding: 1rem;
    padding-top: 9rem;
    background: linear-gradient(#232323 9rem, #A8D5BA, #797);
}

.blog-container h1 {
    color: #afa;
    font-size: 4rem;
    text-align: center;
    margin-top: 6rem;
}

.blog-container .tagline {
    color: #ded;

}
.blog-container h2 {
    width: 70%;
    color: #333;
    text-align: center;
    font-size: 1.75rem;
    margin: auto;
}

.blog-post {
    width: 75%;
    display: flex;
    flex-direction: column;
    padding: 2rem;
    gap: 2rem;
    margin-bottom: 1.5rem;
    background: linear-gradient(#efe, #ded, #efe);
    border: 0.25rem solid #111;
    box-shadow: -15px 5px 19px black;
    margin: auto;
}


.blog-date {
    font-weight: 500;
    margin-bottom: 1rem;
}

.blog-post h2 {
    text-align: center;
    font-family: sans-serif;
    font-weight: 600;
    font-size: 1.75rem;
    width: 75%;
    margin: 2rem auto 2rem;
}


.blog-post p {
    width: 100%;
    font-family: sans-serif;
    font-weight: 400;
    font-size: 1rem;
    line-height: 150%;
    color: #222;
}

.blog-post .blog-post-cta a{
    color: coral;
    font-size: 1rem;
}

            /* blog post #2  */
.blog-post aside .creepster-regular {
    font-family: "Creepster", serif;
    font-weight: 400;
    font-style: normal;
    letter-spacing: .5rem;
    font-size: 2.5rem;
    color: orangered;
    border-bottom: 5px solid orangered;
    box-shadow: -5px 0px 10px orangered;
  }

  .blog-post .creepster-regular {
    font-family: "Creepster", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.75rem;
  }

.spooky-video-holder video {
    display: block;
     width: 16rem;
    height: 20rem;
    margin: auto;
    border-bottom: 5px solid orangered;
    box-shadow: 1px 0px 30px orangered;
}
.spooky-image-holder img{
   display: block;
   width: 75%;
   margin: auto;
   border-bottom: 5px solid coral;
    box-shadow: 1px 0px 30px coral;
}
/* Blog post #4 */

.websiteRefreshed {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    gap: 3rem;
    text-align: center;
}

.websiteRefreshed img {
    width: 25rem;
    height: 20rem;
    border: 2px solid black;
}


.spacer {
    height: 3rem;
}

.skyline {
    background: radial-gradient(circle at top, #cfc 25%, transparent 37%)
}

footer {
    box-shadow: -30px -10px 60px #afa;
    height: 18rem;
}

.footer-social-links {
    display: flex;
    justify-content: center;
    gap: 1rem;
    padding-top: 3rem;
}

.footer-social-links a {
    color: #cfc;
}
/*  --- Responsive Media Queries  ---   */

/*  --- Responsive Media Queries  ---   */
@media (max-width: 374px) {
    .navbar ul {
        flex-wrap: wrap;
    }


}
/*  Mobile styles (max-width: 600px) */
@media (max-width: 600px) {
    .header {
        height: 16rem;
    }

    .name {
        font-size: 2.5rem;
        margin-top: 3rem;
    }

    .navbar ul {
        column-gap: .5rem;
        margin: 3rem 0rem;
    }

    /* Navbar Links */
    .navbar li a {
        font-size: 1.2rem;
    }

    .blog-container {
        max-width: 90%;
    }

    .blog-container h1 {
        color: #afa;
        font-size: 2rem;
        text-align: center;
    }
    
    .blog-container .tagline {
        font-size: 1.25rem
    }

    .blog-container h2 {
        width: 70%;
        color: #333;
        text-align: center;
        font-size: 1.25rem;
        margin: auto;
    }

    .blog-container p {
        width: 95%;
        color: #333;
        text-align: center;
        font-size: 1rem;
        margin: auto;
    }

                    /* blog post #2  */
    .blog-post aside .creepster-regular {
        font-family: "Creepster", serif;
        font-weight: 400;
        font-style: normal;
        letter-spacing: .3rem;
        font-size: 1.5rem;
        color: orangered;
        border-bottom: 5px solid orangered;
        box-shadow: -5px 0px 10px orangered;
    }

    .blog-post .creepster-regular {
        font-family: "Creepster", serif;
        font-weight: 400;
        font-style: normal;
        font-size: 1rem;
    }

    .spooky-video-holder video {
        display: block;
        width: 9rem;
        height: 10rem;
        margin: auto;
        border-bottom: 5px solid orangered;
        box-shadow: 1px 0px 30px orangered;
    }
    .spooky-image-holder img{
        display: block;
        width: 75%;
        margin: auto;
        border-bottom: 5px solid orangered;
        box-shadow: 1px 0px 30px orangered;
}
        /* Blog post CSS Video posts */
    .video-post h2 {
        font-size: 1.25rem;
    }

    .video-container {
        position: relative;
        padding-bottom: 56.25%;
        height: 0;
        overflow: hidden;
        max-width: 100%;
    }

    .video-container iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }

    .video-post .music-by {
        font-size: .75rem;
        color: tan;
        line-height: .8rem;
    }
}

@media (min-width: 601px) and (max-width: 901px) {

    .header {
        height: 16rem;
    }

    .name {
        font-size: 3rem;
        margin-top: 3rem;
    }

    .navbar ul {
        column-gap: .5rem;
        margin: 3rem 0rem;
    }

    .navbar li a {
        font-size: 1.2rem;
    }

    .blog-container {
        max-width: 90%;
    }

    .blog-container h1 {
        color: #afa;
        font-size: 2rem;
        text-align: center;
    }
    
    .blog-container .tagline {
        font-size: 1.25rem
    }

    .blog-container h2 {
        width: 70%;
        color: #333;
        text-align: center;
        font-size: 1.25rem;
        margin: auto;
    }

    .blog-container p {
        width: 95%;
        color: #333;
        text-align: center;
        font-size: 1rem;
        margin: auto;
    }

                    /* blog post #2  */
    .blog-post aside .creepster-regular {
        font-family: "Creepster", serif;
        font-weight: 400;
        font-style: normal;
        letter-spacing: .3rem;
        font-size: 1.5rem;
        color: orangered;
        border-bottom: 5px solid orangered;
        box-shadow: -5px 0px 10px orangered;
    }

    .blog-post .creepster-regular {
        font-family: "Creepster", serif;
        font-weight: 400;
        font-style: normal;
        font-size: 1rem;
    }

    .spooky-video-holder video {
        display: block;
        width: 9rem;
        height: 10rem;
        margin: auto;
        border-bottom: 5px solid orangered;
        box-shadow: 1px 0px 30px orangered;
    }
    .spooky-image-holder img{
        display: block;
        width: 75%;
        margin: auto;
        border-bottom: 5px solid orangered;
        box-shadow: 1px 0px 30px orangered;
}
        /* Blog post CSS Video posts */
    .video-post h2 {
        font-size: 1.25rem;
    }

    .video-container {
        position: relative;
        padding-bottom: 56.25%;
        height: 0;
        overflow: hidden;
        max-width: 100%;
    }

    .video-container iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }

    .video-post .music-by {
        font-size: .75rem;
        color: tan;
        line-height: .8rem;
    }

}


@media (min-width: 901px) and (max-width: 1439px){

    .header {
        height: 16rem;
    }

    .name {
        font-size: 3.5rem;
        margin-top: 3rem;
    }

    .navbar ul {
       
        column-gap: .5rem;
        margin: 3rem 0rem;
    }

    /* Navbar Links */
    .navbar li a {
        font-size: 1.5rem;
    }
    
    .blog-container {
        max-width: 90%;
    }

    .blog-container h1 {
        color: #afa;
        font-size: 2rem;
        text-align: center;
    }
    
    .blog-container .tagline {
        font-size: 1.25rem
    }

    .blog-container h2 {
        width: 70%;
        color: #333;
        text-align: center;
        font-size: 1.25rem;
        margin: auto;
    }

    .blog-container p {
        width: 95%;
        color: #333;
        text-align: center;
        font-size: 1rem;
        margin: auto;
    }

                    /* blog post #2  */
    .blog-post aside .creepster-regular {
        font-family: "Creepster", serif;
        font-weight: 400;
        font-style: normal;
        letter-spacing: .3rem;
        font-size: 1.5rem;
        color: orangered;
        border-bottom: 5px solid orangered;
        box-shadow: -5px 0px 10px orangered;
    }

    .blog-post .creepster-regular {
        font-family: "Creepster", serif;
        font-weight: 400;
        font-style: normal;
        font-size: 1rem;
    }

    .spooky-video-holder video {
        display: block;
        width: 9rem;
        height: 10rem;
        margin: auto;
        border-bottom: 5px solid orangered;
        box-shadow: 1px 0px 30px orangered;
    }
    .spooky-image-holder img{
        display: block;
        width: 75%;
        margin: auto;
        border-bottom: 5px solid orangered;
        box-shadow: 1px 0px 30px orangered;
}
        /* Blog post CSS Video posts */
    .video-post h2 {
        font-size: 1.25rem;
    }

    .video-container {
        position: relative;
        padding-bottom: 56.25%;
        height: 0;
        overflow: hidden;
        max-width: 100%;
    }

    .video-container iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }

    .video-post .music-by {
        font-size: .75rem;
        color: tan;
        line-height: .8rem;
    }

}


@media (min-width: 1440px) {

    .header {
        height: 16rem;
    }

    .name {
        font-size: 5.5rem;
        margin-top: 3rem;
    }

    .navbar ul {
       
        column-gap: 1.5rem;
        margin: 3rem 0rem;
    }

    /* Navbar Links */
    .navbar li a {
        font-size: 1.75rem;
    }

    .blog-container {
        max-width: 80%;
    }

       /* Blog post CSS Video posts */
       .video-post h2 {
        font-size: 1.25rem;
    }

    .video-container {
        position: relative;
        padding-bottom: 56.25%;
        height: 0;
        overflow: hidden;
        max-width: 100%;
    }

    .video-container iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }

    .video-post .music-by {
        font-size: .75rem;
        color: tan;
        line-height: .8rem;
    }
}