/* Base Font Size */
html {
    font-size: 18px;/* Setting the document rem size*/
    box-sizing: border-box;
}

body {
    background: linear-gradient(125deg, #2c3e50, orangered, orange);
}

/* Header Styles */
.header {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    height: 27rem;
    background-image: url(./resources/images/20241029_230816.jpg);
    background-size: contain;
}

main img {
    display: block;
    width: 9rem;
    height: 12rem;
}
/*Name Styles */

.name, .page-name {
    font-family: "Creepster", system-ui;
    font-weight: 400;
    font-style: normal;
    text-shadow: -7px 7px 10px black;
}

.name { 
    font-size: 6.25rem; 
    line-height: 0.75;
    letter-spacing: 0.055rem;
}

.name a {
    color: orangered;
}

.page-name {
    animation: linkColorChange 9s infinite;
    text-align: center;
    color: orangered;
    font-size: 3rem;
    margin-top: 3rem;
}

/*   Image Section pumpkins after header  */

.page-greeting {
    text-align: center;
    font-size: 6rem;
    margin-top: 18rem;
    text-shadow: -5px 5px 15px black;
}

.main-content audio {
    display: block;
    width: 6rem;
    margin: auto;
}

.pumpkin-image {
    margin: 6rem auto;
    
}

.pumpkin-image {
    width: 25rem;
    height: 50rem;
    overflow: hidden;
}

.spooky-words {
    font-family: 'Creepster';
    font-size: 3rem;
    text-align: center;
}

.pumpkin-image img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    clip-path: polygon(0 0, 100% 0, 100% 55%, 0 55%);
    
}

.video-box {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    gap: 1rem;
}

.video {
    padding: 6rem;
}

.video video{
    width: 30rem;
    height: 40rem;
}


footer {
    height: 12rem;
    background-color: black;
    color: orange;
    text-align: center;
    padding-top: 2rem;
}
